/* Colors */
$base-color: #101010 !default; //#3a4750 !default;
$text-color: #1b1b1b !default; //303841 !default;
$accent-color: #e7a904 !default;
$background-color: #fff !default;
$code-background-color: #f6f8fa !default;
$border-color: rgba($text-color, 0.25) !default;
$overlay-color: #fff !default;

/* Syntax highlighting (base16) colors */
$base00: #ffffff !default;
$base01: #f5f5f5 !default;
$base02: #c8c8fa !default;
$base03: #969896 !default;
$base04: #e8e8e8 !default;
$base05: #333333 !default;
$base06: #ffffff !default;
$base07: #ffffff !default;
$base08: #ed6a43 !default;
$base09: #0086b3 !default;
$base0A: #795da3 !default;
$base0B: #183691 !default;
$base0C: #183691 !default;
$base0D: #795da3 !default;
$base0E: #a71d5d !default;
$base0F: #333333 !default; 


/* Syntax highlighting (base16) colors previous
$base00: #1d1f21 !default;
$base01: #282a2e !default;
$base02: #373b41 !default;
$base03: #969896 !default;
$base04: #b4b7b4 !default;
$base05: #c5c8c6 !default;
$base06: #e0e0e0 !default;
$base07: #ffffff !default;
$base08: #cc6666 !default;
$base09: #de935f !default;
$base0a: #f0c674 !default;
$base0b: #b5bd68 !default;
$base0c: #8abeb7 !default;
$base0d: #81a2be !default;
$base0e: #b294bb !default;
$base0f: #a3685a !default;
*/
