/* Colors */
$base-color: #101010 !default; //#3a4750 !default;
$text-color: #1b1b1b !default; //303841 !default;
$accent-color: #e7a904 !default;
$background-color: #fff !default;
$code-background-color: #f6f8fa !default;
$border-color: rgba($text-color, 0.25) !default;
$overlay-color: #fff !default;

/* minima and variants are too slim in text layout, not ideal for modern screens */
/* $content-width: 90% !default; */
$content-width: 100% !default;
$xlarge: 1920px !default;
$max-width: 1920px !default;

/* Syntax highlighting (base16) colors */
/* Syntax highlighting (base16) colors - Vibrant High Contrast (Terminal Inspired) */
$base00: #ffffff !default; // White
$base01: #F1EFEE !default; // Off-White
$base02: #9C9491 !default; // Light Grey
$base03: #68615E !default; // Medium Grey/Brown
$base04: #68615E !default; // Medium Grey/Brown
$base05: #1B1918 !default; // Very Dark Brown/Black
$base06: #1B1918 !default; // Very Dark Brown/Black
$base07: #1B1918 !default; // Very Dark Brown/Black
$base08: #F22C40 !default; // Red
$base09: #f9751d !default; // Orange
$base0A: #C38418 !default; // Yellow/Orange
$base0B: #7B9726 !default; // Green
$base0C: #3D97B8 !default; // Cyan
$base0D: #407EE7 !default; // Blue
$base0E: #6666EA !default; // Magenta/Purple
$base0F: #874f1d !default; // Brown



/* Syntax highlighting (base16) colors previous
$base00: #1d1f21 !default;
$base01: #282a2e !default;
$base02: #373b41 !default;
$base03: #969896 !default;
$base04: #b4b7b4 !default;
$base05: #c5c8c6 !default;
$base06: #e0e0e0 !default;
$base07: #ffffff !default;
$base08: #cc6666 !default;
$base09: #de935f !default;
$base0a: #f0c674 !default;
$base0b: #b5bd68 !default;
$base0c: #8abeb7 !default;
$base0d: #81a2be !default;
$base0e: #b294bb !default;
$base0f: #a3685a !default;
*/
